__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
.env
build/
dist/
*.spec
*.db
*.log
*.deb
*.exe
*.ico
*.png
# Excepto los iconos y el binario oficial
!radio_icon.png
!radio_icon.ico
!radio-matematica_1.0.0_all.deb
